@import '../../scss/default.scss';

.collection-items {
  background-color: $color-black-bg-light;
  padding: 8px;
  border-radius: 10px;
  margin-top: 20px;
  min-height: 32px;
  &__item {
    width: 32px;
    height: 32px;
    background: #1b212c;
    border-radius: 4px;
    display: inline-block;
    margin: 7px;
    position: relative;
    text-align: center;
    vertical-align: middle;
  }
  &__img {
    width: 32px;
    height: 32px;

  }
  &__remove {
    @include icon(14px, 'remove.png');
    position: absolute;
    right: -7px;
    top: -7px;
    cursor: pointer;
  }
  &__more {
    display: inline-block;
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 12px;
    vertical-align: top;
  }
}
